.scrollbar-thumb {
  background-color: #625CF9;
  width:10px !important;
  border-radius:100px !important;

}
.scrollbar-track-y{
  width: 12px !important;
  background-color: transparent !important;
}